//- template
extends ./templates/main

//- vars
block vars
  - contentClass = 'shallow'

//- dependencies
include ../component/content-header/content-header
include ../component/main-banner/main-banner
include ../component/showcase/showcase

//- content
block headerContent
  +main-banner

block content
  +content-header('Summer 2016', 'Lorem ipsum dolor sit amet')
  +showcase(data.showcase({ qty: 10 }))

  +content-header('Sale!', 'Praesentium necessitatibus')
  +showcase(data.showcase({ qty: 5 }))
