//- template
extends ./templates/main

//- vars
block vars
  - meta.title = 'Produto'
  
//- dependencies
include ../component/product-detail/product-detail

//- content
block content
  +product-detail(data.showcase({ qty: 1 }).items[0])
