.sale-tag
  background #fff
  border 3px solid darken(#fff, 10)
  display inline-block
  font 700 rem(12) $font-heading
  right 0.5em
  padding 0.25em 0.5em
  position absolute
  text-transform uppercase
  top 0.5em
