//- template
extends ./base

//- dependencies
include ../../component/main-content/main-content
include ../../component/main-footer/main-footer
include ../../component/main-header/main-header

//- vars
block baseVars
  block vars

//- scripts
block baseScripts
  block scripts
  +js('main')

//- styles
block baseStyles
  +css('main')
  block styles

//- content
block baseContent
  +main-header

  block headerContent

  +main-content
    block content

  +main-footer
