.u-grid
  $gutter = 1em

  display flex
  flex-wrap wrap
  margin-top -($gutter / 2)

  +breakpoint(sm)
    margin $gutter*-1 0 0 $gutter*-1

  > .u-grid__cell
    flex 0 0 100%
    padding-top ($gutter / 2)

    +breakpoint(sm)
      flex 1
      padding $gutter 0 0 $gutter

    &--none
      flex none

  // Types
  &--not-responsive
    margin-left -($gutter)

    > .u-grid__cell
      flex 1
      padding-left $gutter

      &--none
        flex none

  &--gutterless
    margin 0

    > .u-grid__cell
      padding 0

  // Generate Cell Sizes
  cell-size($sel, $size)
    > .u-grid__cell
      +breakpoint(sm)
        &--{$sel}
          flex $size

    &--not-responsive > .u-grid__cell
      &--{$sel}
        flex $size

  cell-size('1-2', 0 0 50%)
  cell-size('1-3', 0 0 33.3333%)
  cell-size('1-4', 0 0 25%)
  cell-size('1-5', 0 0 20%)
  cell-size('2-3', 0 0 66.6666%)
  cell-size('2-5', 0 0 40%)
  cell-size('3-4', 0 0 75%)
  cell-size('3-5', 0 0 60%)
