.h
  &-block
    display block

  &-ib
    display inline-block

  &-limiter
    margin auto
    max-width 90em
    padding 0 0.5em

    +breakpoint(sm)
      padding 0 1em

    +breakpoint(md)
      padding 0 1.5em

    +breakpoint(lg)
      padding 0 2em
