$svg-common 
	background url(/img/sprite.view.svg) no-repeat

.u-svg-bag
	@extend $svg-common
	background-position 0 0

.u-svg-bag-dims
	width 24px
	height 24px

.u-svg-search
	@extend $svg-common
	background-position 100% 0

.u-svg-search-dims
	width 24px
	height 24px

