mixin content-header(heading, description)
  header.c-content-header
    h2.c-content-header__heading
      span.c-content-header__wrapper #{heading}
    p.c-content-header__description #{description}
