.c-content-header
  margin-bottom 2rem
  text-align center

  &__heading
    color darken(#fff, 80)
    font-family $font-heading
    font-size 1.5rem
    margin-bottom 0.5rem
    position relative
    text-transform uppercase

  &__wrapper
    border-bottom 1px solid darken(#fff, 40)
    display inline-block
    padding 0.25rem 0.5rem
    position relative

    &:after
      $w = 0.45rem
      content ''
      background darken(#fff, 40)
      position absolute
      bottom -($w/2 + 0.05)
      left 50%
      margin-left -($w/2)
      width $w
      height $w
      transform rotate(45deg)

  &__description
    color darken(#fff, 50)
    font-size rem(12)
