.main-banner
  // background-attachment fixed
  background-position center
  background-size cover
  margin 0 auto 0.5rem
  height 100vh
  overflow hidden

  +breakpoint(sm)
    margin-bottom 1rem

  +breakpoint(md)
    margin-bottom 1.5rem

  +breakpoint(xl)
    margin-bottom 2rem

  &__image
    display block
    width 100%
