.main-banner
  margin 0 auto 0.5rem
  max-width 90rem
  max-height 75vh
  overflow hidden

  +breakpoint(sm)
    margin-bottom 1rem

  +breakpoint(md)
    margin-bottom 1.5rem

  +breakpoint(xl)
    margin-bottom 2rem
    padding 0 2rem

  &__image
    display block
    width 100%
