.c-main-footer
  background darken(#fff, 80)
  color darken(#fff, 10)
  margin-top 2rem
  padding-top 2rem
  line-height 1.5

  &__heading
    color darken(#fff, 40)
    font-size rem(14)
    margin-bottom 1rem

  &__text
    font-size rem(12)

    &--faded
      color darken(#fff, 50)

  &__bottom
    background darken(#fff, 82)
    margin-top 2rem
    padding 1rem 0
