// dependencies
@import './vendor/normalize'

// util
@import './util/shared'
@import './util/reset'
@import './util/helpers'
@import './util/grid'

// components
@import '../component/content-header/content-header'
@import '../component/main-content/main-content'
@import '../component/main-footer/main-footer'
@import '../component/main-header/main-header'
