.main-header
  background #fff
  border-bottom 1px solid #ccc
  margin-bottom 2rem
  position fixed
  width 100%
  top 0
  z-index 1

  &__logo
    padding 1rem

    +breakpoint(md)
      padding 1.5rem
