.c-main-header
  margin-bottom 2rem
  padding 0.5rem 0
  position fixed
  width 100%
  top 0
  z-index 1
  transition 0.5s

  &--active
    background #fff
    box-shadow 0 1px 2px rgba(0,0,0,.1)

  &__wrapper
    .root &
      padding 0

      +breakpoint(xl)
        padding 0 0.5rem

  &__logo
    background #fff
    display block
    padding 1rem

    +breakpoint(md)
      padding 1.25rem
