.c-product-description
  padding 2rem 1rem 0.5rem
  text-align center

  +breakpoint(sm)
    padding 1.5rem 0 0 2rem
    text-align left

  &__description
    margin-bottom 1.5rem

  &__sizes-wrapper,
  &__controls
    margin-top 1rem
